---
import { loadQuery } from '../../sanity/lib/load-query.js'
import LayoutShort from '../../layouts/LayoutShort.astro'
import {PortableText as PortableTextInternal} from 'astro-portabletext'
import Header1 from '../../components/atoms/headers/Header1.astro'
import Header2 from '../../components/atoms/headers/Header2.astro'

export async function getStaticPaths() {
    const { data: posts } = await loadQuery({query: `*[_type == "post"]`, params: {}});

    return posts.map(( { slug }) => {
        return {
            params: {
                slug: slug.current,
            },
        };

    });
}

const { slug } = Astro.params;

const { data: post } = await loadQuery({
    query: `*[_type == "post" && slug.current == $slug][0]`,
    params: { slug: slug },
});

console.log(post);
---

<LayoutShort title="Logickal - JRNL">
    <div class="flex flex-col items-center justify-center">
		<div class="w-9/12 p-32 bg-gray-800  text-gray-600 bg-gradient-to-b from-black min-h-screen mb-5 text-center">
            <div class="mb-5">   
                <Header1>JRNL</Header1>
                <Header2>{post.title}</Header2>
                <div>
                    <p>{post._createdAt}</p>
                </div>
    
            </div>
            <div class="text-gray-400 text-sm text-left">
                <PortableTextInternal value={post.body} />

            </div>
        </div>
  </div>