---
import Layout from '../../layouts/Layout.astro'
import Header1 from '../../components/atoms/Header1.astro'
---

<Layout title="Logickal - Journal">
    <div class="flex flex-col items-center justify-center">
		<div class="w-9/12 p-32 bg-gray-800  text-gray-600 bg-gradient-to-b from-black min-h-screen mb-5 text-center">
            <div class="mb-5"> 
            <Header1> Logickal's Journal</Header1>
             </div>
         </div>
    </div>
</Layout>   