---
import Layout from "../../../layouts/Layout.astro";
import Header1 from "../../../components/atoms/headers/Header1.astro";
import Header2 from "../../../components/atoms/headers/Header2.astro";
import { sanityClient } from "sanity:client";
import BlogCard from "../../../components/BlogCard.astro";
import ContentContainer from "../../../components/atoms/ContentContainer.astro";

export async function getStaticPaths() {
  const categories = await sanityClient.fetch(
    `*[_type == "category" && defined(slug.current)]`
  );

  return categories.map((category) => ({
    params: { slug: category.slug.current },
  }));
}

const { slug } = Astro.params;


const query = `{
  "category": *[_type == "category" && slug.current == $slug][0] {
    title,
    description
  },
  "blogPosts": *[_type == "post" && $slug in categories[]->slug.current] {
    title,
    body,
    _createdAt,
    slug,
    "categories": categories[]->{
      title,
      "slug": slug.current
    }
  }
}`;

const { category, blogPosts } = await sanityClient.fetch(query, { slug });
---

<Layout title="Logickal - Journal">
  <ContentContainer bgType="dark">
    <div class="mb-5">
      <Header1>JRNL</Header1>
      <Header2>{category.title} Posts</Header2>
    </div>
    <div class="grid grid-cols-1">
      {blogPosts.map((post) => <BlogCard key={post._id} post={post} />)}
    </div>
  </ContentContainer>
</Layout>

