---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import discographyData from '../../assets/logickal-discography-FINAL.xlsx';
import DiscogCard from "../../components/DiscogCard.astro";
import tagMapping from "../../assets/lib/tagMapping";
import DiscographyHeader from "../../components/DiscographyHeader.astro";


export async function getStaticPaths() {
  const uniqueTags = new Set();

  discographyData.forEach(record => {
    if (record.tags) {
      const tags = record.tags.split(',');
      tags.forEach(tag => uniqueTags.add(tag.trim()));
    }
  });

  const paths = Array.from(uniqueTags).map(tag => ({
    params: { tag },
  }));

  return paths ;
}

const releases = discographyData.filter(record => record.tags.includes(Astro.params.tag));
const tagText = tagMapping[Astro.params.tag] || Astro.params.tag;

---

<Layout title={`Logickal - ${tagText}`} >
<DiscographyHeader tagText={tagText} />
  <div class="discography mt-32 p-2 content-center justify-center ">
    <div class="relative w-9/12 bg-gradient-to-t from-gray-800 min-h-screen my-10 py-5 mx-auto grid grid-cols-2">
        {releases.map(release => (
            <DiscogCard release={release} />
        ))}
    </div>
  </div>  