---
import Layout from '../../layouts/Layout.astro';
import discographyData from '../../assets/logickal-discography-FINAL.xlsx';
import DiscogCard from '../../components/DiscogCard.astro';
import DiscographyHeader from '../../components/DiscographyHeader.astro';
---

<Layout title="Logickal - Discography." >
    <DiscographyHeader tagText="all" />
    <div class="discography mt-32 p-2 content-center justify-center ">
      <div class="relative w-9/12 bg-gradient-to-t from-gray-800 min-h-screen my-10 py-5 mx-auto grid grid-cols-3">
          {discographyData.map(release => (
              <DiscogCard release={release} />
          ))}
      </div>
    </div>  
</Layout>