---
import Layout from '../../layouts/Layout.astro';
import GenreGrid from '../../components/GenreGrid.astro';
---

<Layout title="Logickal - Discography.">
    <div class="p-2 content-center">
        <div class="m-5 p-5 bg-gray-800">
            <div>
                <h1 class="text-2xl font-bold">Discography</h1>

                <p class="font-mono">Explore the discography by style/genre or view all releases using the selections below</p>    
            </div>
        </div>

        <div>
            <div class="m-5 p-5 bg-gray-800/85">
              <GenreGrid />
            </div>
        </div>
        
    
