---
import Layout from '../layouts/Layout.astro'
import Prose from '../components/Prose.astro'
import { Content as BioContent, frontmatter as bio } from '../assets/bio.md'
import { Content as GearContent, frontmatter as gear } from '../assets/gear.md'
import { Image } from 'astro:assets'
import portrait from '../assets/static-images/logickal-portrait-bw-sept24.jpg'
import Header1 from '../components/atoms/headers/Header1.astro'
import ContentContainer from '../components/atoms/ContentContainer.astro'
---
<Layout title="Logickal - About">
    <ContentContainer bgType="dark" >
            <Header1>{bio.title}</Header1>
            <Prose>
                <BioContent />
            </Prose>
            <Image src={portrait} alt="Self Portrait" class="w-2/5 rounded-full mx-auto my-24 outline inset" />
            <h2 class="text-gray-300 mb-5">{ gear.title }</h3>
            <div class="text-left">
            <Prose>
                <GearContent />
            </Prose>
        </div>
    </ContentContainer>
</Layout>