---
import Layout from "../layouts/Layout.astro";
import discographyData from "../assets/logickal-discography-FINAL.numbers";
import StreamingServices from "../components/StreamingServices.astro";
import LatestRelease from "../components/LatestRelease.astro";
import HomeTitle from "../components/HomeTitle.astro";
import HomeNav from "../components/HomeNav.astro";
import AMAmember from "../components/AMAmember.astro";
import HomePageVideo from "../components/HomePageVideo.astro";
import PatreonSplash from "../components/PatreonSplash.astro";

const images = import.meta.glob("../assets/imgBg/*");

//Get the first release for the latest release card

const latestRelease = discographyData[0];
---

<Layout title="Logickal Electronic Music.">
  <div>
    <div class="flex flex-col items-center justify-center">
      <HomeTitle />
      <div
        class="opacity-0 animate-duration-[1500ms] animate-ease-linear intersect-full"
      >
        <LatestRelease latestRelease={latestRelease} />
      </div>
      <div
      class="opacity-0 animate-duration-[1500ms] animate-ease-linear intersect-full"
    >
     <PatreonSplash />
    </div>
      <div
      class="opacity-0 animate-duration-[1500ms] animate-ease-linear intersect-full"
    >
      <HomePageVideo />
    </div>
      <div
        class="opacity-0 animate-duration-[1500ms] animate-ease-linear intersect-full"
      >
        <StreamingServices />
      </div>
      <div
        class="opacity-0 animate-duration-[1500ms] animate-ease-linear intersect-full w-full"
      >
        <HomeNav />
      </div>
      <div
        class="opacity-0 animate-duration-[1500ms] animate-ease-linear intersect-full w-full"
      >
        <AMAmember />
      </div>
    </div>
  </div>
</Layout>

<script type="module" src="/scripts/indexPage.js"></script>
