---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import GenreGrid from '../components/GenreGrid.astro';
import BandcampPlayer from '../components/BandcampPlayer.astro';
---

<Layout title="Logickal Electronic Music.">
	<main class="m-auto w-3/4 h-dvh">
		<div class="p-2">
			<p>Header menu placeholder</p>

		</div>
		<div class="page-header m-5 p-5">
			<h1 class="text-3xl">Logickal</h1>
			<h2 class="text-2xl">Eclectic Electricism</h2>	
		</div>
		<div class="m-auto p-5 w-1/2 font-mono text-sm text-justify">
			<p><span class="font-bold text-base">File under:</span> Electronic Music, Ambient, Techno, Industrial, IDM, Experimental Electronics, Drone, Computer Music, DAWless Performance, Live Coding</p>
		</div>
		<div class="main-section my-5 h-3/4">
			<p class="font-mono text-sm m-5">
				Logickal's music has touchpoints in many styles of electronic music. This site categorizes his releases based on overall style/mood/process, although many releases contain elements of multiple styles.
			</p>
			<p class="font-mono text-sm m-5">
				Proceed below to explore the categorized discography.			
			</p>
			<GenreGrid />
		</div>

		<BandcampPlayer id="1957328024" url="https://logickal.bandcamp.com/album/amulet" title="Amulet" />
		
	</main>
</Layout>
