---
import Layout from "../layouts/Layout.astro";
import discographyData from "../assets/logickal-discography-FINAL.xlsx";
import StreamingServices from "../components/StreamingServices.astro";
import LatestRelease from "../components/LatestRelease.astro";
import HomeTitle from "../components/HomeTitle.astro";
import HomeNav from "../components/HomeNav.astro";

const images = import.meta.glob("../assets/imgBg/*");

//Get the first release for the latest release card
const latestRelease = discographyData[0];
---

<Layout title="Logickal Electronic Music." subhead="Eclectic Electricism">
  <div>
    <div class="flex flex-col items-center justify-center">
		<HomeTitle />
		<div class="w-9/12 bg-gradient-to-b from-gray-800 min-h-screen mb-5"></div>
	  	<LatestRelease latestRelease={latestRelease} />
		  <StreamingServices />
      <HomeNav />  
    </div>

  </div>
</Layout>
