---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import GenreGrid from '../components/GenreGrid.astro';
import BandcampPlayer from '../components/BandcampPlayer.astro';
---

<Layout title="Logickal Electronic Music." subhead="Eclectic Electricism">
	<div>
		<div class="m-auto p-5 w-1/2 font-mono text-sm text-justify">
			

			<p><span class="font-bold text-base">File under:</span> Electronic Music, Ambient, Techno, Industrial, IDM, Experimental Electronics, Drone, Computer Music, DAWless Performance, Live Coding</p>
		</div>
		<div class="main-section my-5 h-3/4">
			<p class="font-mono text-sm m-5">
				Logickal is the primary musical project of Nashville-based electronic musician Jeremy Dickens.  
			</p>
			<p class="font-mono text-sm m-5">
				Logickal's music has touchpoints in many styles of electronic music. This site categorizes his releases based on overall style/mood/process, although many releases contain elements of multiple styles.
			</p>
			<p class="font-mono text-sm m-5">
				Proceed below to explore the categorized discography.			
			</p>
			<GenreGrid />
		</div>

		
	</main>
</Layout>
