---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import GenreGrid from '../components/GenreGrid.astro';
import BandcampPlayer from '../components/BandcampPlayer.astro';
import { Image } from "astro:assets";

const images = import.meta.glob("../assets/imgBg/*");

---

<Layout title="Logickal Electronic Music." subhead="Eclectic Electricism">
	<div>
	<div class="flex items-center justify-center min-h-screen">
		<div class="content-center text-center">
			<h1 class="text-4xl font-mono">logickal</h1>
			<h3 class="text-xl font-sans">eclectic electronic musick</h3>
		</div>
	</div>
	<div class="musick content-center text-center min-h-80 sticky top-0 bg-gray-900 w-full">
		<h2>Musick</h2>
	</div>
	<div class="videos content-center text-center min-h-80 sticky top-0 bg-gray-900">
		<h2>videos</h2>
	</div>
	<div class="content-center text-center min-h-80 sticky top-0 bg-gray-900">
		<h2>about</h2>
	</div>
	<div class="content-center text-center min-h-80 sticky top-0 bg-gray-900">
		<h2>blog</h2>
	</div>
	<div class="content-center text-center min-h-screen sticky top-0 bg-gray-900">
		<h2>links</h2>
	</div>
		
	</div>
</Layout>
