---
import Layout from '../layouts/Layout.astro'
import Prose from '../components/Prose.astro'
import { Content as LinksContent } from "../assets/links.md"
import Header1 from '../components/atoms/headers/Header1.astro'
import ContentContainer from '../components/atoms/ContentContainer.astro'
---

<Layout title='Logickal - Links'>
    <ContentContainer bgType="dark">
            <div class="m-16 p-5">
            <Header1>Links</Header1>
            <p>Here are some additional locations around the web with information and content by/for/about Logickal.</p>
      
            <div class="text-left text-sm">
                <Prose>
                    <LinksContent />
                </Prose>
            </div>
    </ContentContainer>
</Layout>