---
import { Image } from 'astro:assets';
import { format } from 'date-fns';
const { release } = Astro.props;

const formattedDate = format(new Date(release.releaseDate), 'MMMM do, yyyy');
---
<div>
    <h4>{release.title}</h4>
    <ul>
        <li>{release.catalogNumber}</li>
        <li>{formattedDate}</li>
    </ul>
    <p>{release.blurb}</p>
</div>


