---

---

<div class="w-full text-gray-400 bg-black h-15">
    <p class="text-xs">
		<span class="italic">
            All content &copy; 2021 J Dickens - Logickal. All rights reserved.
        </span>
      Icons by <a target="_blank" href="https://icons8.com">Icons8</a>
    </p>
  </div>