---

---

<div class="text-gray-400 bg-black h-15 w-6/12">
  <h4 class="text-sm">Colophon</h4>
  <div class="text-xs">
    <p>
      <span class="italic">
        All content &copy; 2021 J Dickens - Logickal. All rights reserved.
      </span>
    </p>
    <p class="italic">Built with <a href="https://astro.build" class="text-blue-700 hover:text-blue-400 underline">Astro.js</a> and <a href="https://tailwindcss.com" class="text-blue-700 underline hover:text-blue-400 ">Tailwind.css</a></p>
    <p>
      Icons by <a target="_blank" href="https://icons8.com">Icons8</a>
    </p>
  </div>
</div>
