---
import GenreCard from "./GenreCard.astro"

---

<div class="genre-grid grid grid-cols-4 grid-rows-1 gap-3 m-auto h-3/4">
<GenreCard genre="Zero Gravity" image="../assets/imgBg/astraltemple-1-3.png" color="bg-blue-500"/>
<GenreCard genre="Rhythmic Structures" image="../assets/imgBg/brutalist-11-2.png" color="bg-red-800" />
<GenreCard genre="Orbital Mechanics" image="../assets/imgBg/redpage-21-2.png" color="bg-yellow-500" />
<GenreCard genre="Endless Ascents" image="../assets/imgBg/blueyellowabs-10-2.png" color="bg-green-500" />
</div>

