---
import GenreCard from "./GenreCard.astro"

---
<div>
    <div class="mb-10 genre-grid grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 m-auto">
        <GenreCard genre="exp" image="../assets/imgBg/heatshld-redvert-1.png" color="bg-blue-500" aspect="portrait"/>
        <GenreCard genre="ind" image="../assets/imgBg/lille-brutal-1.png" color="bg-red-800" aspect="portrait" />
        <GenreCard genre="amb" image="../assets/imgBg/elevator-blue-1.png" color="bg-yellow-500" aspect="portrait"/>
        <GenreCard genre="drn" image="../assets/imgBg/yellow-heat-1.png" color="bg-green-500" aspect="portrait"/>
    </div>
    <div class="m-auto flex items-center justify-center mt-4 md:mt-0">
        <GenreCard genre="all" image="../assets/imgBg/thankga-cloud-1.png" color="bg-blue-500" aspect="landscape"/>
    </div>
    
</div>

