---
---

<header class="fixed top-0 left-0 w-full flex justify-between items-center p-2 border-b border-gray-800 bg-black">
    <div>
        <h1 class="font-mono font-bold">logickal</h1>
    </div>
    <div>
        <ul class="font-mono flex space-x-4">
            <li><a href="/" class="hover:text-blue-500">home</a></li>
            <li><a href="/discog" class="hover:text-blue-500">music</a></li>
            <li><a href="/about" class="hover:text-blue-500">about</a></li>
            <li><a href="/contact" class="hover:text-blue-500">contact</a></li>
    </div>
</header>