---
import ServiceIconLink from "./atoms/ServiceIconLink.astro";
import ServicesData from '../assets/lib/servicesData';

let services = ServicesData.filter(service => service.type == 'social');
---

<header class="fixed top-0 left-0 w-full z-50 flex justify-between items-center p-2 border-b border-gray-800 bg-black">
    <div>
        <h1 class="font-mono font-bold text-gray-400 hover:text-gray-200 "><a href="/" data-astro-reload>logickal</a></h1>
    </div>
    <div>
        <ul class="font-mono flex space-x-4">
            <li><a href="/" class="hover:text-blue-500" data-astro-reload>home</a></li>
            <li><a href="/discog" class="hover:text-blue-500">music</a></li>
            <li><a href="/about" class="hover:text-blue-500">about</a></li>
            <li><a href="/jrnl" class="hover:text-blue-500">jrnl</a></li>
            {services.map((service) => (
                <ServiceIconLink
                    serviceName={service.name}
                    serviceIconPath={service.icon}
                    serviceUrl={service.url}
                    size={23}
                />
            ))}
    </div>
</header>