---
import HomeCard from "./HomeCard.astro";

const cards = [
  {
    title: "musick",
    //image: "musick.jpg",
    link: "/discog",
	text: "explore the discography.",
	tile: 0
  },
  {
    title: "videos",
    //image: "videos.jpg",
    link: "/videos",
	text: "view videos and streams.",
	tile: 1
  },
  {
    title: "about",
    //image: "about.jpg",
    link: "/about",
	text: "introductory text",
	tile: 2
  },
  {
    title: "links",
    //image: "links.jpg",
    link: "/links",
	text: "external links",
	tile: 4
  },
];


---

<div class="w-9/12 bg-gradient-to-b from-gray-800  mb-15 content-center p-10 min-h-[1200px] mx-auto">
    {
      cards.map((card) => (
        <HomeCard title={card.title} link={card.link} text={card.text} tile={card.tile} />
      ))
    }
  </div>