---

---

<div
  class="content-center text-center w-9/12 bg-gradient-to-t from-gray-800 min-h-screen mt-10 rounded-lg"
>
  <div class="bg-black h-2/5">
    <h1 class="text-4xl font-mono">logickal</h1>
    <h3 class="text-xl font-sans">eclectic electronic musick</h3>
  </div>
</div>
