---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

interface Props {
    title: string;
    image: string;
    link: string;
}

const { title, image, link } = Astro.props;
const images = import.meta.glob("../assets/imgBg/*");
let classes = null;


---




<a class="m2 p-3 w-4/6 h-1/5" href={link}>
    <div>
        <h3>{title}</h3>
    </div>