---

---

<div
  class="content-center text-center w-9/12 bg-gradient-to-t from-gray-800 min-h-screen mt-10 rounded-lg opacity-0 "
  id="home-title"
>
  <div class="bg-black h-3/5 py-8">
    <h1 class="text-4xl font-mono opacity-0 mb-5" id="title">logickal</h1>
    <h3 class="text-xl font-sans opacity-0 font-thin" id="subtitle">esoteric electronic musick</h3>
</div>
</div>

<script type="module">
  import "../scripts/homeTitle.ts";
</script>
