---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

interface Props {
    title: string;
    image: string;
    link: string;
    text:string
}

const { title, image, link, text } = Astro.props;
const images = import.meta.glob("../assets/imgBg/*");
let classes = null;


---




<a href={link}>
    <div class="m-5 p-3 w-full bg-gray-800/75 hover:bg-white h-16 hover:h-80 transition-all duration-75">
        <h3 class="text-lg font-mono">{title}</h3>
        <p>{text}</p>
    </div>