---
import { YouTube } from "astro-embed";
// TODO: randomly select a video from a list of videos
---

<div
  class="aspect-video content-center text-center my-5 p-5 bg-gradient-to-b from-black to-gray-800 border border-gray-600 rounded-md mx-auto"
>
  <div class="content-center">
   <YouTube id="0HqVTyGmpHo" class="w-[300px] md:w-[800px]"/>
  </div>
</div>
