---
import DiscogCard from "./DiscogCard.astro";
let { latestRelease } = Astro.props;
---

<div
  class="w-9/12 min-h-fit content-center text-center my-5 p-5 bg-gradient-to-b from-black to-gray-800 border border-gray-600 rounded-md"
>
  <div class="h-1/12text-left">
    <h3 class="text-2xl">Latest Release</h3>
  </div>
  <div class="content-center">
    <DiscogCard release={latestRelease} size="small" />
    <p>
      <a
        class="text-lg font-bold hover:text-yellow-600"
        href={latestRelease.bandcampUrl}>Listen and Purchase on Bandcamp.</a
      >
    </p>
  </div>
</div>
