---
let { extraClasses } = Astro.props;

let classes = 'max-w-max prose prose-p:text-gray-500 prose-li:text-gray-200 prose-h3:text-gray-500 prose-h3:text-lg prose-a:text-gray-200 ' + extraClasses;
---

<div class={classes}>
  <slot />
</div>