---
import ServicesData from "../assets/lib/servicesData"

let services = ServicesData.filter(service => service.type == 'social');
---

<div>
    <h3 class="text-gray-500 font-bold text-l">Social Networks</h3>
    <ul>
        {services.map((service) => (
            <li>
                <a 
                    href={service.url} 
                    target="_blank"
                    class="text-gray-300 hover:text-blue-400"
                    >Logickal on {service.name}</a>
            </li>
        ))}
            
    </ul>
</div>