---
import ServiceIconLink from "./atoms/ServiceIconLink.astro";
import ServicesData from '../assets/lib/servicesData';

let iconPath = "../../assets/icons/";
let services = ServicesData.filter(service => service.type == 'music');
---

<div class="bg-gray-500 my-12 p-5 text-center text-black content-center rounded-md">
  <h3 class="text-lg font-mono font-bold text-yellow-400">Logickal on Streaming</h3>
  <p class="text-sm font-sans italic">
    Logickal's musick is available on these and other fine streaming services:
  </p>
  <div class="my-5 w-full flex justify-center">
    <div class="grid grid-cols-3 gap-8">
      {
        services.map((service) => (
          <ServiceIconLink
            serviceName={service.name}
            serviceIconPath={iconPath + service.icon}
            serviceUrl={service.url}
          />
        ))
      }
    </div>
  </div>
</div>
