---
import CategoryText from './CategoryText.astro';

interface Props {
    title: string;
    slug: string;
}

let { title, slug } = Astro.props;

---

<a href=`/jrnl/category/${slug}`><CategoryText title={title}/></a>