---
import CategoryText from './CategoryText.astro';

interface Props {
    title: string;
    slug: string;
}

const { title, slug } = Astro.props;

---

<a href={`/jrnl/category/${slug}`}>
  <CategoryText title={title} />
</a>

