---
import { format } from 'date-fns';

const { discogDate } = Astro.props;
console.log(discogDate);
const formattedDate = format(new Date(discogDate), 'yyyy-MM-dd');

---

<span>
    {formattedDate}
</span>
