---
import { Image } from "astro:assets";
import Debug from "astro/debug";

const icons = import.meta.glob("../../assets/icons/*");
let iconPath = '../../assets/icons/';

interface Props {
    serviceName: string;
    serviceIconPath: string;
    serviceUrl: string;
    size: number;
}
const { serviceName, serviceIconPath, serviceUrl,size=50 } = Astro.props;
---

<a href={ serviceUrl }>
    <Image src={ icons[iconPath + serviceIconPath]() }  alt={serviceName} width={size} class="object-cover" />
</a>