---
import { Icon } from 'astro-icon/components';

interface Props {
    serviceName: string;
    iconName: string;
    serviceUrl: string;
    size?: number;
}

const { serviceName, iconName, serviceUrl, size = 50 } = Astro.props;
---

<a href={serviceUrl} class="inline-block">
    <Icon 
        name={iconName} 
        class="text-gray-300 hover:text-blue-400 transition-colors" 
        size={size} 
        aria-label={serviceName}
    />
</a>