---
import { Image } from "astro:assets";

const icons = import.meta.glob("../../assets/icons/*");
let iconPath = '../../assets/icons/';

interface Props {
    serviceName: string;
    serviceIconPath: string;
    serviceUrl: string;
}
const { serviceName, serviceIconPath, serviceUrl } = Astro.props;
---

<a href={ serviceUrl }>
    <Image src={ icons[iconPath + serviceIconPath]() }  alt={serviceName} class="object-cover" />
</a>