---
import urlFor from '../../lib/sanity-image';

const {
  node: {
    asset: { _ref },
    alt,
  },
  ...attrs
} = Astro.props;


const url = urlFor(_ref).auto('format').toString();

---


<div>
    <picture>
        <img src={url} alt={alt} class="w-1/3 object-cover mx-auto"/>
    </picture>
</div>