---
import Header from '../components/Header.astro';
interface Props {
	title: string;
}

const { title, subhead } = Astro.props;
---

<!doctype html>
<html lang="en" class="text-gray-400">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="font-sans text-zinc-500 bg-gray-900">
		<container class="w-full">
			<main class="m-auto h-dvh">
			<slot />
			</main>
			<footer>

			</footer>

		</container>

	</body>
</html>
